.TableTennisBanner{
    background: url(../../../Images/TableTennis/215-2150890_table-tennis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
}



@media only screen and (max-width:688px) {
    .TableTennisBanner{
        height: 275px;
    }
    .TableTennisBanner .Shap{
        width: 130px !important;
        height: 130px !important;
        border: 5px solid #e40046 !important;
        border-radius: 5px !important;
        top: 199px !important;
        left: 18px !important;
    }



    .TableTennisBanner .Text {
        top: 219px !important;
        left: 35px !important;
        padding: 8px !important;
        width: 278px;
    }
    .cricket-banner-text{
        font-size: 15px;
        width: 288px !important ;
        

    }
    .TableTennisBanner .Text p{
        font-size: 8px;
        width: 290px !important;
    }
    .TableTennisBanner .Text button{
        margin-left: 2px;
        padding: 2px;
        font-size: 8px !important;
    }
    


}

.TableTennisBanner .Shap {
    width: 500px;
    height: 550px;
    background-color: inherit;
    border: 20px solid #e40046;
    border-radius: 5px;
    position: absolute;
    top: 245px;
    left: 160px;
}



.TableTennisBanner .Text {
    position: absolute;
    top: 350px;
    left: 350px;
    background: #000000;
    padding: 50px;
}


.TableTennisBanner .Text h1{
    width: 700px;
}




.TableTennisBanner .Text p{
    width: 500px;
}





.TableTennisBanner .Text button{
    margin-left: 20px;
}