.FullMatch{
    text-align: center;
    padding: 100px;
    box-shadow: 0px 1px 10px 3px #000000;
}


@media only screen and  (max-width:688px){
    .FullMatch{
        padding: 85px !important;
    }
}

.FullMatch img{
    width: 100px;
height: 100px;
}



.Match{
    display: inline-block;
}


.ReMatch{
    display: inline-block;
}


.Match h2{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}



.Match h1{
    display: inline-block;
    padding: 20px;
}

.ReMatch h1{
    display: inline-block;
    padding: 20px;
}


.Location p{
    display: inline-block;
    margin: 20px;
}



