.Banner{
    padding: 0px 0px 100px;
    position: relative;

}

.Banner img{
    width: 100%;
    padding: 0px 0px 50px;
}


.Banner .Shap {
    width: 500px;
    height: 500px;
    background-color: inherit;
    border: 20px solid #e40046;
    border-radius: 5px;
    position: absolute;
    top: 170px;
    left: 160px;
}
@media only screen and  (max-width:688px){
    .Banner .Shap {
        width: 130px;
        height: 130px;
        border: 5px solid #e40046;
        border-radius: 5px;
        top: 40px;
        left: 18px;
    }
    .Banner .Text {
        top: 54px !important;
        left: 35px !important;
        padding: 8px !important;
        width: 278px;
    }
    .football-banner-text{
        font-size: 15px;
        width: 288px !important ;
        

    }
    .Banner .Text p{
        font-size: 8px;
        width: 290px !important;
    }
    .Banner .Text button{
        margin-left: 2px;
        padding: 2px;
        font-size: 8px !important;
    }
}


.Banner .Text {
    position: absolute;
    top: 245px;
    left: 350px;
    background: #000000;
    padding: 50px;
}



.Banner .Text h1{
    width: 700px;
}




.Banner .Text p{
    width: 500px;
}





.Banner .Text button{
    margin-left: 20px;
}