.BaseBallBanner{
    background-image: url(../../../Images/BaseBall/2545906.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
}





.BaseBallBanner .Shap {
    width: 500px;
    height: 550px;
    background-color: inherit;
    border: 20px solid #e40046;
    border-radius: 5px;
    position: absolute;
    top: 245px;
    left: 160px;
}



.BaseBallBanner .Text {
    position: absolute;
    top: 350px;
    left: 350px;
    background: #000000;
    padding: 50px;
}


.BaseBallBanner .Text h1{
    width: 700px;
}




.BaseBallBanner .Text p{
    width: 500px;
}





.BaseBallBanner .Text button{
    margin-left: 20px;
}