.shop-data-main{
    width: 451px;
}
@media only screen and (max-width:688px) {
    .shop-data-cat{
        display: none;
    }
    .shop-data-main{
        width: 339px;
    }
}
.shop-data-shadow{
    box-shadow: #f1f1f1 0px 0px 10px 2px;
    background: none;
    border: 0px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin:10px
}