.main-video{
    margin-top: 50px;
    padding: 100px 0px;
}
.video-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;

}
@media only screen and (max-width:688px) {
    .video-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;

    }
    
}

    .video-you-btn {
        text-decoration: none;
        border: 3px solid yellow;
        color: transparent;
        padding: 1px 0px;
        font-size: 15px;
        font-family: sans-serif;
        letter-spacing: 5px;
        transition: all 0.5s;
        position: relative;
      }
      .video-you-btn:before {
        content: "Watch Video";
        display: flex;
        justify-content: center;
        align-items: center;
        color: yellow;
        background: rgb(34, 34, 34);
        font-size: 28px;
        top: 0;
        left: 100%;
        font-family: sans-serif;
        letter-spacing: 5px;
        transition: all 1s;
        height: 100%;
        width: 100%;
        position: absolute;
        transform: scale(0) rotatey(0);
        opacity: 0;
      }
      .video-you-btn:hover:before {
        transform: scale(1) rotatey(360deg);
        left: 0;
        opacity: 1;
      }
      .video-you-btn:after {
        content: "Watch Video";
        display: flex;
        justify-content: center;
        align-items: center;
        color: yellow;
        background: rgb(34, 34, 34);
        font-size: 28px;
        top: 0;
        left: 0;
        font-family: sans-serif;
        letter-spacing: 5px;
        transition: all 1s;
        height: 100%;
        width: 100%;
        position: absolute;
        transform: scale(1) rotatey(0);
        opacity: 1;
      }
      .video-you-btn:hover:after {
        transform: scale(0) rotatey(360deg);
        left: -100%;
        opacity: 0;
      }
      

.video-title{
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
}
.video-describtion{
    color: whitesmoke;
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
}
.video-button{
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-bottom: 25px;
    text-decoration: none;
    background-color: #e40046;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 10px;
    color: #111;
    padding: 17px 30px 18px;
    margin-top: 15px !important;
}
.video{
    

}
.video-team{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-des{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 400;
}
.team-date{
    color: #6f757a;
}